@import '../variables/grid';
@import '../variables/resume';
@import '../variables/colors';
@import '../variables/transitions';


$footer-padding: 2rem $grid-padding;
$rrss-icon-size: 40px;
$footer-description-color: $color-gray;
$footer-desription-font-size: .8rem;
$footer-description-padding: .85rem 0;
$footer-description-link-color: $color-gold;
$footer-credits-font-size: .7rem;
$credits-link-color: $color-gray;

.footer {
  @extend .full-horizontal-fixed;
  @extend .flash;

  bottom: 0;
  padding: $footer-padding;
  z-index: 10;
}

.rrss__icon {
  transition: opacity .2s, transform .2s;
  display: inline-block;
  height: $rrss-icon-size;
  opacity: .4;
  margin-right: .5rem;
  text-indent: -9999999px;
  width: $rrss-icon-size;
}

.rrss__icon:hover {
  opacity: .8;
  transform: scale(1.1);
}

.rrss__icon--twitter {
  background: transparent url('../assets/icons/rrss/twitter.svg') no-repeat;
  background-size: 75%;
}

.rrss__icon--telegram {
  background: transparent url('../assets/icons/rrss/telegram.svg') no-repeat;
  background-size: 75%;
}

.rrss__icon--dribbble {
  background: transparent url('../assets/icons/rrss/dribbble.svg') no-repeat;
  background-size: 75%;
}

.rrss__icon--github {
  background: transparent url('../assets/icons/rrss/github.svg') no-repeat;
  background-size: 100%;
}

.footer__description {
  color: $footer-description-color;
  font-size: $footer-desription-font-size;
  padding: $footer-description-padding;

  a {
    color: $footer-description-link-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer__credits {
  font-size: $footer-credits-font-size;
}

.credits__link {
  color: $credits-link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
