@import '../variables/grid';
@import '../variables/resume';
@import '../variables/typography';
@import '../variables/colors';
@import '../variables/transitions';

$homepage-content-padding: 0 $grid-padding;
$homepage-title-font-size: 2.4rem;
$homepage-title-line-height: $homepage-title-font-size * 1.2;
$homepage-gold-font-weight: $font-weight-karla-bold;
$homepage-gold-color: $color-gold;
$homepage-description-color: $color-gray;
$homepage-description-font-weight: $font-weight-karla-regular;
$homepage-description-font-size: 1.2rem;
$homepage-description-line-height: $homepage-description-font-size * 1.5;

.homepage {
  @extend .full-complete-fixed;
  
  align-items: center;
  display: flex;
  flex-flow: 0 1 column;
  background: black url("../assets/images/home-background.jpg") no-repeat;
  background-size: cover;
  background-size: cover;
   z-index: 5;
}

.homepage__content {
  @extend .flash;

  padding: $homepage-content-padding;
  width: 90%;
}

.homepage__title {
  font-size: $homepage-title-font-size * 0.75;
  line-height: $homepage-title-line-height  * 0.75;
  max-width: 1024px;

  p {
    display: inline;
  }
}

.homepage__gold {
  color: $homepage-gold-color;
  font-weight: $homepage-gold-font-weight;
}

.homepage__description {
  color: $homepage-description-color;
  font-weight: $homepage-description-font-weight;
  font-size: $homepage-description-font-size;
  line-height: $homepage-description-line-height;
  max-width: 768px;
  opacity: 0.8;
  padding-top: 2.5%;
}

@media #{$breakpoints-large} {
  .homepage__title {
    font-size: $homepage-title-font-size;
    line-height: $homepage-title-line-height;

    p {
      display: block;
    }
  }
}
