<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
  <header class="header">
    <section class="header__logo">
      <a href="" class="header__logo-link">
        worldx3
      </a>
    </section>
    <section class="header__nav">
      <nav class="navigator">
        <a href="" class="navigator__link navigator__link--off">
          Inicio
        </a>
        <a href="" class="navigator__link navigator__link--off">
          sobre mi
        </a>
        <a href="" class="navigator__link navigator__link--off">
          work
        </a>
        <a href="" class="navigator__link navigator__link--off">
          blog
        </a>
        <a href="" class="navigator__link navigator__link--off">
          photoblog
        </a>
      </nav>
    </section>
  </header>
  <article class="homepage">
    <section class="homepage__content">
      <h1 class="homepage__title">
        <p>
          Hola!
        </p>
        <p>
          Me llamo Alex M. Gorgal y soy
        </p>
        <p class="homepage__gold">
          diseñador y desarrollador front-end 
        </p>
      </h1>
      <div class="homepage__description">
        <p>
           Lo primero, gracias por entrar y visitar mi página personal, actualmente estoy trabajando en ella y puedes encontrar más información sobre mi o mi trabajo en los perfiles públicos, pronto más.
        </p>
      </div>
    </section>
  </article>
  <footer class="footer">
    <section class="footer__rrss rrss">
      <a href="http://twitter.com/gruncho" class="rrss__icon rrss__icon--twitter">
        Twitter
      </a>
      <a href="http://telegram.me/gruntxo" class="rrss__icon rrss__icon--telegram">
        Telegram
      </a>
      <a href="http://dribbble.com/gruncho" class="rrss__icon rrss__icon--dribbble">
        Dribbbble
      </a>
      <a href="http://github.com/gruncho" class="rrss__icon rrss__icon--github">
        Github
      </a>
    </section>
    <section class="footer__description">
      Puedes visitar mis perfiles públicos o <a href="mailto:alex@worldx3.com">escribir un email.</a>
    </section>
    <section class="footer__credits credits">
      worldx3 <a href="https://creativecommons.org/licenses/by-sa/3.0/es/" target="_blank" class="credits__link">(by-sa)</a> online desde 2008
    </section>
  </footer>
</body>
</html>
